/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:0;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#fff;
}

.w-sb { width:85% !important; }

.mr-sm-2, .mx-sm-2 {
    margin-right: .5rem!important;
}

.nav-buttons {
    margin-top: 3px;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding:10px 0px !important;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  /* padding:.5rem .5rem; 
  margin:0 .25rem;*/
  font-size:14px;
}

/* makes the dropdown full width  */
/* .navbar .dropdown {position:static;} */

.navbar .dropdown-menu {
/*   width:100%;
  left:0;
  right:0; */
/*  height of nav-item  */
  top:55px;
}
  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block!important;
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }
  
  .w-sb { width:90% !important; }
	
	.nav-buttons {
		margin-left: 30px;
		margin-top: 3px;
	}
}

